{
  "extension": [
    ".ts"
  ],
  "include": [
    "src/classes"
  ],
  "reporter": [
    "text",
    "text-summary",
    "html"
  ],
  "all": true,
  "checkCoverage": true,
  "lines": 95,
  "branches": 82,
  "statements": 96,
  "functions": 98
}